/* You can add global styles to this file, and also import other style files */

.header{
/*   position: fixed;
  top: 0;
  left: 0;
  height: 70px;
  width: 100%;
  z-index:2;*/
}

/* for all components */
.content{
 /*  margin-left: 50px;
  margin-right: 50px;
  margin-top: 100px;*/
}




.footer {
/*   position: fixed;
  bottom: 10px;
  left: 25%;
  width: 75%;*/
}
