.panel-footer {
    height: 50px !important;
  }
  
  #sep {
    margin-top: 10px;
  }
  
  .panel-body {
    background: #f3f3f3 !important;
  }
  .backButton {
    z-index: 4;
    position: fixed;
    bottom: 10px;
    left: 25%;
    width: 50%;
  }