<div class="content">
  <p>
    <li>
      <a routerLink="../augmented" routerLinkActive="active">Augmented</a>

    </li>
    <div class="row">
      <div class="col-sm-3">
        <div class="form-group">
          <select class="selectpicker" multiple data-selected-text-format="count">
            <option>Musasdaaaaaaatard</option>
            <option>asdasd</option>
            <option>Relish</option>
          </select>
        </div>
      </div>
    </div>
  </div>

  <select class="form-control" data-style="btn-default"
  data-live-search="true" selectpicker multiple
  data-selected-text-format="count>2"
  data-collection-name="users"
  ng-model="selectedUsers"
  ng-options="user.name for user in users">
</select>